
.footer-container{
    background-color: #151515;
    color:whitesmoke;
}

li{
    text-align: start;
    list-style: none;
    margin-bottom: 10px;
}
.link-styles{
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5em;
}
.link-styles:hover{
    color: lightcoral;
}
.footerLink{
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
}
.footerLink:hover{
    color:#F33F3F;
}